(
    species: Test,
    vision_angle: 3.14159,
    vision_radius: 1.0,
    max_altitude: 1.0,
    max_turn_angle: 10.0,
    max_pitch_turn_angle: 30.0,
    max_pitch: 1.39626,
    min_pitch: -1.39626,
    flap_vector: [0.0, 1.5707963, 0.0],
    flap_magnitude: 1.0,
    flap_cooldown: 0.5,
    glide_decay: 0.05,
    max_hunger: 10.0,
    flap_hunger_reduction: 0.05,
    sleep_time: 5.0,
    step_distance: 0.5,
    step_cooldown: 0.5,
)
